@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mukta&display=swap');

.contactButton {
    margin-left: 90%;
}

.benefitsHeader {
    font-family: 'Crimson Text', serif;
}

.contactsCard {
    background-color: lightgray;
    border: 1px black solid;
}