@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Mukta&display=swap');

.benefitsHeader {
    font-family: 'Crimson Text', serif;
}

.benefitsCard {
    background-color: lightgray;
    border: 1px black solid;
    width: 33%;
    margin: auto;
}
